In [2]:
import sqlalchemy, re
from pandas.io.json._table_schema import build_table_schema
from vnstock import *

In [6]:
DB_URL = "postgresql://airbyte:airbyte@localhost:5432/financial_data"

In [7]:
engine = sqlalchemy.create_engine(DB_URL)
DB_CONNECTION = engine.connect()

In [62]:
lmao = re.sub(r"(\w)([A-Z])", r"\1_\2", "centralBankDeposit")
# lmao = lmao.lower()
lmao

'central_Bank_Deposit'

In [103]:
def write_json_schema(df, file):
    schema = build_table_schema(df, index=False)
    schema = schema['fields']
    schema = str(schema)
    schema = re.sub("\[", "", schema)
    schema = re.sub("\]", "", schema)
    schema = re.sub("'", "\"", schema)
    schema = re.sub("{\"name\": ", "", schema)
    schema = re.sub(", \"type\"", ": {\"type\"", schema)


    header = """
    {
        "type": "object",
        "description": "",
        "properties": {
    """

    ending = """
        }
    }
    """
    schema = header + schema + ending
    f = open(file, "o")
    f.write(schema)
    f.close()

    return schema

In [104]:
name = 'lmao'
query = f'from {{{{ source(\'financial_raw\', \'{name}\') }}}}'
query

"from {{ source('financial_raw', 'lmao') }}"

In [41]:
def get_columns(df, table_name):
    schema = build_table_schema(df, index=False)
    schema = schema['fields']
    
    query = 'select\n'

    for text in schema:
        name = text["name"]

        re_outer = re.compile(r'([^A-Z ])([A-Z])')
        re_inner = re.compile(r'\b[A-Z]+(?=[A-Z][a-z])')
        name = re_inner.sub(r'\g<0> ', re_outer.sub(r'\1_\2', name))
        # name = re.sub(r"(?<![A-Z])(?<!^)([A-Z])",r"_\1",name)
        # name = re.sub(r"(\w)([A-Z,0-9])", r"\1_\2", name)
        name = re.sub(r"(\w)([0-9])", r"\1_\2_", name)
        name = re.sub(" ", "_", name)
        name = name.lower()

        query += f'\t{text["name"]} as {name},\n'

    query = query
    query +=  f'from\n\t{{{{ source(\'financial_raw\', \'{table_name}\') }}}}'
    
    f = open(f'models/staging/native/stg_{table_name}.sql', "w")
    f.write(query)
    f.close()
 
    return query

In [43]:
stock_intraday_data (symbol='ACB', page_size=50, page_num=0)

      price  volume     cp  rcp   a   ba   sa     hl    pcp      time
0   22000.0  585200    0.0  0.0      0.0  0.0   True  100.0  14:45:00
1   21900.0     500 -100.0  0.0  BU  0.0  0.0  False    0.0  14:29:58
2   21900.0    2700 -100.0  0.0  BU  0.0  0.0  False    0.0  14:29:58
3   21900.0     100 -100.0  0.0  BU  0.0  0.0  False    0.0  14:29:58
4   21900.0    7200 -100.0  0.0  BU  0.0  0.0  False    0.0  14:29:57
5   21900.0    3500 -100.0  0.0  BU  0.0  0.0  False    0.0  14:29:57
6   21900.0    2000 -100.0  0.0  BU  0.0  0.0  False    0.0  14:29:53
7   21900.0     500 -100.0  0.0  BU  0.0  0.0  False    0.0  14:29:45
8   21900.0    4500 -100.0  0.0  BU  0.0  0.0  False    0.0  14:29:45
9   21900.0    1000 -100.0  0.0  BU  0.0  0.0  False    0.0  14:29:39
10  21900.0    1300 -100.0  0.0  BU  0.0  0.0  False    0.0  14:29:33
11  21900.0     500 -100.0  0.0  BU  0.0  0.0  False    0.0  14:29:33
12  21900.0     300 -100.0  0.0  BU  0.0  0.0  False    0.0  14:29:33
13  21900.0     100 -100.0  0.0  BU  0.0  0.0  False    0.0  14:29:33
14  21900.0     800 -100.0  0.0  BU  0.0  0.0  False   50.0  14:29:33
15  21850.0     100 -150.0  0.0  SD  0.0  0.0  False  -50.0  14:29:31
16  21900.0    1000 -100.0  0.0  BU  0.0  0.0  False    0.0  14:29:25
17  21900.0     100 -100.0  0.0  BU  0.0  0.0  False    0.0  14:29:22
18  21900.0    8200 -100.0  0.0  BU  0.0  0.0  False    0.0  14:29:20
19  21900.0    2200 -100.0  0.0  BU  0.0  0.0  False    0.0  14:29:20
20  21900.0    2300 -100.0  0.0  BU  0.0  0.0  False   50.0  14:29:20
21  21850.0     300 -150.0  0.0  SD  0.0  0.0  False  -50.0  14:29:17
22  21900.0    1700 -100.0  0.0  BU  0.0  0.0  False    0.0  14:29:09
23  21900.0    1300 -100.0  0.0  BU  0.0  0.0  False    0.0  14:29:09
24  21900.0     100 -100.0  0.0  BU  0.0  0.0  False    0.0  14:29:02
25  21900.0    2600 -100.0  0.0  BU  0.0  0.0  False    0.0  14:29:02
26  21900.0     400 -100.0  0.0  BU  0.0  0.0  False    0.0  14:29:02
27  21900.0     100 -100.0  0.0  BU  0.0  0.0  False    0.0  14:28:55
28  21900.0     300 -100.0  0.0  BU  0.0  0.0  False    0.0  14:28:55
29  21900.0     500 -100.0  0.0  BU  0.0  0.0  False    0.0  14:28:55
30  21900.0     600 -100.0  0.0  BU  0.0  0.0  False    0.0  14:28:55
31  21900.0    1000 -100.0  0.0  BU  0.0  0.0  False   50.0  14:28:52
32  21850.0     200 -150.0  0.0  SD  0.0  0.0  False  -50.0  14:28:40
33  21900.0     400 -100.0  0.0  BU  0.0  0.0  False    0.0  14:28:39
34  21900.0    2000 -100.0  0.0  BU  0.0  0.0  False    0.0  14:28:39
35  21900.0    1000 -100.0  0.0  BU  0.0  0.0  False    0.0  14:28:39
36  21900.0     300 -100.0  0.0  BU  0.0  0.0  False    0.0  14:28:39
37  21900.0     500 -100.0  0.0  BU  0.0  0.0  False    0.0  14:28:39
38  21900.0    5800 -100.0  0.0  BU  0.0  0.0  False    0.0  14:28:39
39  21900.0     200 -100.0  0.0  BU  0.0  0.0  False    0.0  14:28:35
40  21900.0   10000 -100.0  0.0  BU  0.0  0.0   True    0.0  14:28:24
41  21900.0    4000 -100.0  0.0  BU  0.0  0.0  False    0.0  14:28:06
42  21900.0     200 -100.0  0.0  BU  0.0  0.0  False    0.0  14:28:06
43  21900.0     200 -100.0  0.0  BU  0.0  0.0  False    0.0  14:28:06
44  21900.0     200 -100.0  0.0  BU  0.0  0.0  False    0.0  14:28:06
45  21900.0     600 -100.0  0.0  BU  0.0  0.0  False    0.0  14:28:06
46  21900.0     100 -100.0  0.0  BU  0.0  0.0  False   50.0  14:28:03
47  21850.0     200 -150.0  0.0  SD  0.0  0.0  False    0.0  14:28:01
48  21850.0    3200 -150.0  0.0  SD  0.0  0.0  False    0.0  14:27:48
49  21850.0     500 -150.0  0.0  SD  0.0  0.0  False    0.0  14:27:48

In [42]:
df = stock_intraday_data (symbol='ACB', page_size=50, page_num=0)

print(get_columns(df, 'stock_intraday'))

select
	price as price,
	volume as volume,
	cp as cp,
	rcp as rcp,
	a as a,
	ba as ba,
	sa as sa,
	hl as hl,
	pcp as pcp,
	time as time,
from
	{{ source('financial_raw', 'stock_intraday') }}